@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation-item:hover span {
  margin-right: 0.5rem;
}
.active-item {
  text-decoration: none !important;
  background-color: #0249ac !important;
  color: #fff !important;
  font-weight: 700 !important;
}
